
//Font Family
$ubuntu: 'Ubuntu', sans-serif;
$poppins: 'Poppins', sans-serif;

// Tipography
// Font Weight
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$almost-bold: 700;
$bold-typo: 800;
$black-typo: 900;

// Font Sizes

$xxxxx-large: 3.125em; //50px;
$xxxx-large: 2.8125em;//45px;
$xxx-large: 2.5em;//40px;
$xx-large: 2.18em;//35px;
$x-large: 1.875em;//30px;
$large: 1.25em;//20px;
$medium: 1em; //16px;
$small: 0.875em; //14px;
$x-small: 0.75em;//12px;
